<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Test {{ title }}!
  </h1>

 <h4>Click link below for each map</h4>

    <table  border="1" align="center" style="background-color:wheat">
      <tr>
        <th>ID</th>
        <th>Feature Map</th>
      </tr>
      <tr  *ngFor="let feature of features; let i = index">
        <td> {{i}}</td>
        <td><a [href]="feature.id" target="new">{{feature.category}} {{feature.count}}</a></td>
      </tr>

    </table>

  





 </div>
